{% extends "plantilla.html" %}


{%block Actualidad%}
{%endblock%}

{%block Trabajo%}
{%endblock%}

{%block Control%}
{%endblock%}

{%block Salud%}
{%endblock%}

{%block Tools%}
{%endblock%}

{%block Home%}
{%endblock%}

{%block Personal%}
{%endblock%}

{%block Creador%}
{%endblock%}






{%block Contabilidad%}
{%endblock%}

{%block Perdidas%}
{%endblock%}

{%block Ganancias%}
{%endblock%}

{%block Trazabilidad%}
{%endblock%}

{%block Proyectos%}
{%endblock%}

{%block Progreso%}
{%endblock%}

{%block Documentacion%}
{%endblock%}

{%block Calendario%}
{%endblock%}